<!doctype html>
<html lang="en">

{{ template "head" "Archief" }}

<body>

{{template "navbar" .LoggedIn }}

<h1>Archief</h1>
{{ if ne .Tag "" }}
<h2>Onderwerp: {{ .Tag }}</h2>
{{ else }}
<h2>Alle onderwerpen</h2>
{{ end }}

{{ template "years" . }}

{{ template "imagegallery" . }}

<div style="text-align: center;">
{{ template "previousbutton" .}}
{{ template "nextbutton" .}}
</div>
</body>
</html>