<!doctype html>
<html lang="en">

{{ template "head" "JOEP EIJKENS" }}

<body>

{{template "navbar" .LoggedIn }}

<h1>Contact</h1>

<div class="container">
<p>
Joep Eijkens (Tilburg, 1950) studeerde moderne geschiedenis aan de Katholieke Universiteit Nijmegen. Van 1980 tot 2008 werkte hij als journalist bij het Nieuwsblad van het Zuiden, resp. Brabants Dagblad. 	
</p>
<p>
Eijkens schrijft teksten voor diverse doeleinden - van interviews tot levensverhalen, van krantenartikelen tot boeken. Ook als fotograaf is hij van vele markten thuis. Al staat wel steeds de mens centraal.
</p>
+31 6 49994670 <br>
info@eijkens.nl <br>
KvK-nr: 51539942 <br>
</div>

</body>

</html>