<!doctype html>
<html lang="en">
{{ template "head" "LOGIN" }}
<body>

<header>
    <nav>
        <button><a href="/">Home</a></button>
        <button><a href="/register">Register</a></button>
    </nav>
</header>

<h1>Login</h1>

<form action="" method="POST" enctype="multipart/form-data">
<input type="email" id="email" name="email" placeholder="Enter email"><br>
<input type="Password" id="pass" name="pass" placeholder="Enter password"><br>
<input type="submit"> 
</form>

</body>
</html>